<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Unicorner</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    
    <nav>
      <a href="/">Homepage</a>
      <a href="/profile-hoofie">Hoofie</a>
      <a href="/profile-marcello">Marcello</a>
      <a href="/profile-sparky">Sparky</a>
      <a href="/support">Support</a>
    </nav>

    

    {{{ body }}}



  </body>
</html>